{% extends "base.html" %}
{% block content %}
<div style="height: 55vh;" class="jumbotron ui-widget">
    <h2 style="text-align: center;padding: 20px;">Netflix Search API with ElasticSearch</h2>
        <a href="{{ url_for('child', value={'url':'', 'name':''}) }}" style="position: absolute; top: 30%;left: 45%" class="btn btn-primary">Search as you type!! </a>
<!--	    <a href="{{ url_for('adult') }}" style="position: absolute; top: 30%;left: 55%" class="btn btn-primary">Adults</a>-->
		<a href="{{ url_for('getPage') }}" style="position: absolute; top: 40%;left: 40%" class="btn btn-primary">Paging</a>
		<a href="{{ url_for('custom') }}" style="position: absolute; top: 40%;left: 55%" class="btn btn-primary">Custom Queries</a>
</div>
{% endblock %}